@import "./normalize.css";

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,600;0,700;1,800&family=Lora&family=Roboto:wght@300&display=swap');

#app {
  font-family: 'Roboto', Arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}









